@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---rgforegroundb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-red: #f65261;
  --hover-red: #8d2c35;
  --workspace: #232323;
  --secondary-text: #b3b3b3;
  --background: #555555;
  --workspace-footer: #23232355;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #fff;
  background-color: #555555;
}

button {
  padding: 0.6em 1.2em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container-with-background {
  position: relative;
  background: no-repeat center center;
  background-image: URL('/images/literally-me.jpg');
  background-repeat: repeat;
  background-position: top;
  background-repeat: repeat;
  background-size: cover;
  padding: 1rem;
  height: 350px;
  margin-bottom: 1rem;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    pointer-events: none;
    top: 0;
    left: 0;
  }
}
